<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <title>TracBox</title>
</head>
<body class="bg-img">
    <div class="parent-div d-flex flex-column container-fluid align-items-center justify-content-center vh-100">
               
        <div class="child-div py-5 px-2 mb-2 mt-5">
            <h1 class="text-center pb-4 mt-5">Login</h1>
            <p class="text-center">
                <img src="https://pixe.la/static/img/bir-with-progress-purple.png">
            </p>
        </div>


        <div class="child-div px-2">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-center">{{ message }}</p>
                    {% endfor %}
                {% else %}
                    <p class="text-center">Welcome Back!</p>
                {% endif %}
            {% endwith %}
        </div>
        
        
        <div class="child-div mt-1">
            <div class="d-flex flex-column mb-3 pt-3 border-md rounded-3">
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.csrf_token }}
                    <div class="px-4 px-sm-5 py-3">
                        <p>
                            {{ form.username.label }}
                        </p>
                        {{ form.username }}
                    </div>
                    <div class="px-4 px-sm-5 py-3">
                        <p>
                            {{ form.password.label }}
                        </p>
                        {{ form.password }}
                    </div>
                    <div class="px-4 px-sm-5 py-3">
                        {{ form.remember }}
                        <span class="mt-sm-2">
                            {{ form.remember.label }}
                        </span>
                    </div>
                    <div class="px-4 px-sm-5 py-3">
                        <p class="">
                            <input class="btn btn-success text-uppercase" type="submit" value="Login">
                        </p>
                    </div>
                </form> 
            </div>
        </div>
        
        <footer class="mt-5">
            <h6 class=" mt-5">© Snehangsu, with help from <a class="link-light re-direct" href="">Pixela</a></h6>
        </footer>
        
    </div>

<script src="https://kit.fontawesome.com/35c7180ef6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html> 